<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/">
  </head>
  <body class="landing">
    <%= icons_sprite %>
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <%= yield %>
    <%= render '/docsearch.*' %>
    <% if is_production? and ENV['CI_COMMIT_REF_NAME'] == 'master' %>
    <%# Add analytics only in production %>
      <%= render '/analytics.*' %>
    <% end %>
    <%= render '/schema-microdata.*' %>
    <script src="<%= @items['/frontend/home/home.*'].path %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
  </body>
</html>
